<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Learning_FirstUnit::helloworld"
                title="Hello World"
                module="Learning_FirstUnit"
                sortOrder="40"
                parent="Magento_Backend::marketing"
                resource="Learning_FirstUnit::helloworld"
        />

        <add
                id="Learning_FirstUnit::test"
                title="Test"
                module="Learning_FirstUnit"
                sortOrder="40"
                resource="Learning_FirstUnit::test"
        />
        <add
                id="Learning_FirstUnit::test_item"
                title="Test item"
                module="Learning_FirstUnit"
                sortOrder="40"
                parent="Learning_FirstUnit::test"
                resource="Learning_FirstUnit::test_item"
        />
        <add
                id="Learning_FirstUnit::test_item_item"
                title="Jenick"
                module="Learning_FirstUnit"
                sortOrder="40"
                parent="Learning_FirstUnit::test_item"
                action="helloworld/index"
                resource="Learning_FirstUnit::test_item_item"
        />
        <add
                id="Learning_FirstUnit::index"
                title="Helloworld index"
                module="Learning_FirstUnit"
                sortOrder="45"
                parent="Learning_FirstUnit::helloworld"
                action="helloworld/index/"
                resource="Learning_FirstUnit::index"
        />
        <add
                id="Learning_FirstUnit::index_view"
                title="Helloworld index view"
                module="Learning_FirstUnit"
                sortOrder="46"
                parent="Learning_FirstUnit::helloworld"
                action="helloworld/index/view"
                resource="Learning_FirstUnit::index_view"
        />
        <add
                id="Learning_FirstUnit::jenick"
                title="Jenick Page"
                module="Learning_FirstUnit"
                sortOrder="50"
                parent="Magento_Backend::marketing"
                resource="Learning_FirstUnit::jenick"
        />
        <add
                id="Learning_FirstUnit::page"
                title="Jenick page"
                module="Learning_FirstUnit"
                sortOrder="55"
                parent="Learning_FirstUnit::jenick"
                action="jenick/page/view"
                resource="Learning_FirstUnit::page"
        />
        <add
                id="Learning_FirstUnit::subscription"
                title="Helloworld subscription"
                module="Learning_FirstUnit"
                sortOrder="56"
                parent="Learning_FirstUnit::helloworld"
                action="helloworld/subscription"
                resource="Learning_FirstUnit::subscription"
        />

        <add
                id="Learning_FirstUnit::component"
                title="Component"
                module="Learning_FirstUnit"
                sortOrder="57"
                parent="Learning_FirstUnit::helloworld"
                action="helloworld/component"
                resource="Learning_FirstUnit::component"
        />
    </menu>
</config>