<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="check_is_manager_to_save" instance="Magenest\Cybergame\Observer\CheckManagerObserver"/>
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="add_info_account_to_cart" disabled="true"
                  instance="Magenest\Cybergame\Observer\AddInforAccocuntToCart"/>
    </event>
    <event name="sales_order_place_after" >
        <observer name="create_account_or_edit_hour" disabled="true" instance="Magenest\Cybergame\Observer\UpdateAccountGame"/>
    </event>
</config>