<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenest\Attachments\Model\FileUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">attachments/tmp/file</argument>
            <argument name="basePath" xsi:type="string">attachments/file</argument>
        </arguments>
    </type>

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="course" xsi:type="array">
                    <item name="class" xsi:type="string">Magenest\Attachments\Ui\DataProvider\Product\Form\Modifier\Course</item>
                    <item name="sortOrder" xsi:type="number">400</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
