<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add
                id="Magenest_Movie::magenest_movie"
                title="Magenest"
                module="Magenest_Movie"
                sortOrder="41"
                resource="Magenest_Movie::magenest_movie"
        />
        <add
                id="Magenest_Movie::magenest_film"
                title="Film Session"
                module="Magenest_Movie"
                sortOrder="52"
                parent="Magenest_Movie::magenest_movie"
                resource="Magenest_Movie::magenest_film"
        />
        <add
                id="Magenest_Movie::magenest_new_session"
                title="Test Backend"
                module="Magenest_Movie"
                sortOrder="60"
                parent="Magenest_Movie::magenest_movie"
                resource="Magenest_Movie::magenest_new_session"
        />
        <add
                id="Magenest_Movie::new_session_1"
                title="Session 1"
                module="Magenest_Movie"
                sortOrder="70"
                parent="Magenest_Movie::magenest_new_session"
                action="magenest/newpage/show"
                resource="Magenest_Movie::new_session_1"
        />
        <add
                id="Magenest_Movie::movie"
                title="Movie"
                module="Magenest_Movie"
                sortOrder="53"
                parent="Magenest_Movie::magenest_film"
                action="magenest/movie/index"
                resource="Magenest_Movie::movie"
        />
        <add
                id="Magenest_Movie::actor"
                title="Actor"
                module="Magenest_Movie"
                sortOrder="53"
                action="magenest/actor"
                parent="Magenest_Movie::magenest_film"
                resource="Magenest_Movie::actor"
        />
        <add
                id="Magenest_Movie::director"
                title="Director"
                module="Magenest_Movie"
                sortOrder="54"
                action="magenest/director/index"
                parent="Magenest_Movie::magenest_film"
                resource="Magenest_Movie::director"
        />

    </menu>
</config>